html {
	scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
		width: 5px;
		height: 5px;
		margin: 0;
		border: none;
	}
::-webkit-scrollbar-track {
		background-color: rgb(26, 26, 26);
	}
::-webkit-scrollbar-thumb {
		background-color: #dd2820;
	}
::-webkit-scrollbar-corner {
	background-color: rgb(26, 26, 26);
}

.br-text {
	display: hidden;
}

@media screen and (max-width: 360px){
	.br-text {
		display: initial;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px){
	.br-text {
		display: initial;
	}
}

/*dfgdfgdfg*/
.br-text-ipad {
	display: hidden;
}

@media screen and (max-width: 360px){
	.br-text-ipad {
		display: hidden;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px){
	.br-text-ipad {
		display: initial;
	}
}
/*gdfgdfgfd*/

.logo-benwallbridge {
	width: 80%; 
	margin: auto;
	animation-name: logo-normal;
	animation-duration: 0.5s;
}

.invisible-div {
	width: 5%;
}

@media screen and (max-width: 360px) {
	.navbar-brand {
		width: 70%;
	}
	.container-fluid {
		justify-content: space-around !important;
	}
	.invisible-div {
	width: 0%;
	display: none;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px) {
	.navbar-brand {
		width: 45%;
	}
	.container-fluid {
		justify-content: space-around !important;
	}
	.invisible-div {
	width: 0%;
	display: none;
	}
}


.logo-benwallbridge:hover {
	animation-name: logo-skewed;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-fill-mode: forwards;
}

@keyframes logo-normal {
	0% {transform: skewY(-7deg);}
	100% {transform: skewY(0deg);}
}

@keyframes logo-skewed {
	0% {transform: skewY(0deg);}
	100% {transform: skewY(-7deg);}
}


.navbar-brand {
	margin-right: 0px !important;
}

@media screen and (max-width: 800px) and (min-width: 361px){
	.navbar-brand {
		margin-right: auto;
	}
}

.nav-link:hover {
	text-shadow: 1px 1px 10px #dd2820, 1px 1px 10px #dd2820;
}

.flags {
	max-width: 20px;
	margin-left: 5px;
}

@media screen and (max-width: 360px) {
	.flags {
	margin-left: 0px;
	}
}

.lang-button-responsive-ipad {
	display: none;
}

.lang-button-responsive-motog {
	display: none;
}

@media screen and (max-width: 360px){
.lang-button {
	display: none;
	}

.lang-button-responsive-ipad {
	display: none;
}

.lang-button-responsive-motog {
	display: initial;
	}
}
@media screen and (max-width: 800px) and (min-width: 361px){
.lang-button {
	display: none;
	}

.lang-button-responsive-ipad {
	display: initial;
	}

.lang-button-responsive-motog {
	display: none;
	}

}
.section1 {
	margin-top: -86px;
	overflow: hidden;
	height: 99vh;
}

@media screen and (max-width: 360px) {
	.section1 {
	height: 100vh;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px) {
	.section1 {
	height: 100vh;
	}
}


.section1-video {
	width: 100%;
	filter: saturate(0%);
}

@media screen and (max-width: 360px) {
	.section1-video {
	height: 100%;
    width: 500%;
    left: -456px;
    position: relative;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px) {
	.section1-video {
	  width: 300%;
    position: relative;
    top: -20%;
    left: -25%;
	}
}

.welcome-message {
	left: 25%;
    position: absolute;
    top: 30%;
    width: 50%;
    padding: 30px;
}

.welcome-message > h5 {
	text-align: justify;
}

@media screen and (max-width: 360px) {
	.welcome-message {
	left: 12.5%;
    top: 20%;
    width: 75%;
    height: 75%;
    padding: 30px;
	}

	.welcome-message > h1 {
		font-size: 20px;
	}

	.welcome-message > h5 {
		text-align: center;
	    font-size: 15px;
	    line-height: 1.45;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px) {
	.welcome-message {
	left: 15%;
    position: absolute;
    top: 33%;
    width: 70%;
    padding: 25px;
	}

	.welcome-message > h1 {
		font-size: 40px;
	}

	.welcome-message > h5 {
		text-align: center;
	    font-size: 15px;
	    line-height: 1.7;
	    text-align: justify;
	}
}

.welcome-message-border {
	left: 25%;
    position: absolute;
    top: 30%;
    width: 50%;
    height: 50%;
    border: 8px solid #dd2820;
    animation-name: expand;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 360px) {
	.welcome-message-border {
	left: 12.5%;
    top: 20%;
    width: 75%;
    height: 75%;
    border: 6px solid #dd2820;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px) {
	.welcome-message-border {
		left: 12.5%;
    top: 32.5%;
    width: 75%;
    height: 41.5%;
    border: 6px solid #dd2820;
	}
}

@keyframes expand {
	0%{transform: scale(1.0);}
	14%{transform: scale(1.0);}
	15%{transform: scale(1.04);}
	16%{transform: scale(1.0);}
	100%{transform: scale(1.0);}
}

.ben-container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: inline-flex;
}

@media screen and (max-width: 360px) {
	.ben-container {
		flex-direction: column;

	}
}

@media screen and (max-width: 800px) and (min-width: 361px) {
	.ben-container {
		flex-direction: column;

	}
}

.ben-picture {
	width: 60%;
	overflow: hidden;
}

@media screen and (max-width: 360px) {
	.ben-picture {
		width: 100%;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px) {
	.ben-picture {
		width: 100%;
	}
}

.ben-photo {
	background-size: cover;
	background-repeat: no-repeat;
	transform: scaleX(-1);
    width: 180%;
}

.ben-text {
	width: 40%;
}

@media screen and (max-width: 360px) {
	.ben-text {
			width: 100%;
			height: 75vh;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px) {
	.ben-text {
			width: 100%;
			height: 70vh;
	}
}

.card {
	width: 100%;
	height: 100vh;
}


.card-text {
	text-align: justify;
	text-underline-position: under;
}

@media screen and (max-width: 360px){
	.card-text {
		font-size: 14px;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px){
	.card-text {
		font-size: 22px;
	}
}

.club-pics {
	background-size: contain; 
	width: 100%;
}

@media screen and (max-width: 360px){
	.club-pics {
	background-size: cover; 
	width: auto;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px){
	.club-pics {
	background-size: cover; 
	}
}

.scroll-down-container {
	width: 100%;
	height: 100vh;
	position: absolute;
	pointer-events: none;
}

.scroll-down-container-ipad {
	display: none;
}

@media screen and (max-width: 800px) and (min-width: 361px){
	#scroll-down-container {
	display: none;
}

.scroll-down-container-ipad {

	width: 100%;
	height: 100vh;
	position: absolute;
	pointer-events: none;
	}
}

.scroll-down-container-footer-1 {
	width: 100%;
	height: 100vh;
	position: absolute;
	pointer-events: none;
}

@media screen and (max-width: 360px){
	.scroll-down-container-footer-1 {
	display: none;
	}
}

.scroll-down-container-footer-2 {
	display: none;
}

@media screen and (max-width: 360px){
	.scroll-down-container-footer-2 {
	width: 100%;
	height: 100vh;
	position: absolute;
	pointer-events: none;
	}
}

.scroll-down {
	width: 75px;
    height: 75px;
    background-color: #dd2820;
    position: absolute;
    bottom: 50px;
    left: 50px;
    transition: transform .5s;
	transition-timing-function: ease-in-out;
	pointer-events: all;
}

.scroll-down:hover {
	transform: scale(1.1);
	pointer-events: all;
}

@media screen and (max-width: 360px){
	.scroll-down {
	width: 50px;
    height: 50px;
    bottom: 20px;
    left: 20px;
	}
	.scroll-down:hover {
	transform: scale(1.05);
	pointer-events: all;
	}
}

.scroll-down-top {
	width: 75px;
    height: 75px;
    background-color: #dd2820;
    position: absolute;
    top: 60px;
    left: 50px;
    transition: transform .5s;
	transition-timing-function: ease-in-out;
	pointer-events: all;
	z-index: 7;
}

.scroll-down-top:hover {
	transform: scale(1.1);
	pointer-events: all;
}

@media screen and (max-width: 360px){
	.scroll-down-top {
	width: 50px;
    height: 50px;
    top: 88.5%;
    left: 80%;
}

	.scroll-down-top:hover {
		transform: scale(1.05);
	}
}

@media screen and (max-width: 800px) and (min-width: 361px){
	.scroll-down-top {
	width: 75px;
    height: 75px;
    bottom: 50px;
    right: 50px;
}

	.scroll-down-top:hover {
		transform: scale(1.05);
	}
}

.arrow-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	pointer-events: all;
}


.cessence-container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: inline-flex;
	background-color: #dd2820;
}

@media screen and (max-width: 360px){
.cessence-container {
    flex-wrap: nowrap;
    flex-direction: column-reverse;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px){
.cessence-container {
    flex-wrap: nowrap;
    flex-direction: column-reverse;
	}
}

.cessence-text {
	width: 40%;
}

@media screen and (max-width: 360px){
	.cessence-text {
		width: 100%;
		height: 60vh;
		order: 2;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px){
	.cessence-text {
		width: 100%;
		height: 60vh;
		order: 2;
	}
}

.cessence-logo {
	width: 60%;
	overflow: hidden;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (max-width: 360px){
	.cessence-logo {
		width: 100%;
		order: 3;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px){
	.cessence-logo {
		width: 100%;
		order: 3;
	}
}

.video-container {
	height: 75vh;
	overflow: hidden;
	text-align: center;
	display: flex;
	justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
}

.section3-video {

	width: 100%;
}

.mixcloud-container {
	display: flex;
    width: 100%;
    height: 25vh;
    background-color: white;
    flex-direction: column;
}

.mixcloud-container-phone {
	display: none;
}

@media screen and (max-width: 360px){
	.mixcloud-container {
		display: none;
	}
	.mixcloud-container-phone {
		display: flex;
		order: 1;
		flex-direction: column;
		height: 20vh;
	}
	.mixcloud-subcontainer-1 > h5 {
		color: white;
	}
	.frame-mixcloud{
		height: 100px;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px){
	.mixcloud-container {
		display: none;
	}
	.mixcloud-container-phone {
		display: flex;
		order: 1;
		flex-direction: column;
		height: 20vh;
	}
	.mixcloud-subcontainer-1 > h5 {
		color: white;
	}
	.frame-mixcloud{
		height: 150px;
	}
}


.mixcloud-subcontainer-1 {
	margin-top: 10px;
	margin-left: 20px;
}

.mixcloud-subcontainer-2 {
	margin-left: 20px;
}

.mixcloud {
	width: 77%;
}
.mixcloud-empty {
	width: 13%;
}

.scroll-down-right {
	width: 75px;
    height: 75px;
    background-color: white;
    position: absolute;
    bottom: 50px;
    right: 50px;
    transition: transform .5s;
	transition-timing-function: ease-in-out;
	filter: invert(100%);
}

.scroll-down-right:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 360px){
	.scroll-down-right {
	width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
}

	.scroll-down-right:hover {
		transform: scale(1.05);
	}
}


.scroll-down-right-not-inverted {
	width: 75px;
    height: 75px;
    background-color: white;
    position: absolute;
    bottom: 50px;
    right: 50px;
    transition: transform .5s;
	transition-timing-function: ease-in-out;
}

.scroll-down-right-not-inverted:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 360px){
	.scroll-down-right-not-inverted {
	width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
}

	.scroll-down-right-not-inverted:hover {
		transform: scale(1.05);
	}
}

.scroll-up-right-not-inverted {
	width: 75px;
    height: 75px;
    background-color: white;
    position: absolute;
    bottom: 50px;
    right: 50px;
    transition: transform .5s;
	transition-timing-function: ease-in-out;
}

.scroll-up-right-not-inverted:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 360px){
	.scroll-up-right-not-inverted {
	width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
}

	.scroll-up-right-not-inverted:hover {
		transform: scale(1.05);
	}
}

@media screen and (max-width: 800px) and (min-width: 361px){
	.scroll-up-right-not-inverted {
		width: 75px;
    height: 75px;
    bottom: 75px;
    right: 50px;
}

	.scroll-up-right-not-inverted:hover {
		transform: scale(1.1);
	}
}

.section4-background {
	width: 100%;
	height: 100vh;
	background-color: black;
	display: flex;
	flex-direction: column;
}

.section4-div1 {
	height: 15vh;
	background-color: rgb(36, 36, 36);
}

@media screen and (max-width: 800px) and (min-width: 361px){
	.section4-div1 {
	height: 10vh;
	background-color: rgb(36, 36, 36);
	}
}

.section4-div2 {
	width: 100%;
	height: 85vh;
	max-height: 85vh;
	background-color: rgb(36, 36, 36);
	display: flex;
	justify-content: space-evenly;
	overflow: hidden;
}

@media screen and (max-width: 800px) and (min-width: 361px){
	.section4-div2 {
		width: 100%;
		height: 90vh;
		max-height: 90vh;
		background-color: rgb(36, 36, 36);
		display: flex;
		justify-content: space-evenly;
		overflow: hidden;
	}
}
.div2-card {
	height: 100%;
	width: 100%;
	margin: 0 !important;
}


#card-1 {
	width: 100%;
	margin: 0;
	height: 85vh;
	background-color: darkred;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	}

#card-2 {
	width: 100%;
	margin: 0;
	height: 85vh;
	background-color: blueviolet;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	}

#card-3 {
	width: 100%;
	margin: 0;
	height: 85vh;
	background-color: forestgreen;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	}

@media screen and (max-width: 800px) and (min-width: 361px){
	#card-1 {
	height: 90vh;
	}

#card-2 {
	height: 90vh;
	}

#card-3 {
	height: 90vh;
	}
}

#left-1, #left-2 {
	position: absolute;
	top: calc(50% - 60px);
	width: 60px;
	height: 60px;
	left: 2px;		
	}

#right-1, #right-2 {
	position: absolute;
	top: calc(50% - 60px);
	width: 60px;
	height: 60px;
	right: 2px;
	
	}

#left-1 {
	z-index: 5;
	background-color: #dd2820;
	display: none;
	display: flex;
  justify-content: flex-end;
  align-items: center;
	}
	
#left-2 {
	z-index: 4;
	background-color: #dd2820;
	display: none;
	display: flex;
  justify-content: flex-end;
  align-items: center;
	}
	
#right-1 {
	z-index: 5;
	background-color: #dd2820;
	display: flex;
  justify-content: flex-start;
  align-items: center;
	}
	
#right-2 {
	z-index: 4;
	background-color: #dd2820;
	display: flex;
  justify-content: flex-start;
  align-items: center;
	}

.right-arrow {
	position: relative;
	width: 40%;
	height: 40%;
	transform: rotate(45deg);
	border-top: 5px solid black;
	border-right: 5px solid black;
	margin-left: 25%;
	pointer-events: none;
}

.left-arrow {
	position: relative;
	width: 40%;
	height: 40%;
	transform: rotate(45deg);
	border-left: 5px solid black;
	border-bottom: 5px solid black;
	margin-right: 25%;
	pointer-events: none;
}

.card-pic {
	width: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
	align-items: center;
}

/*SECCIÓN DE REDES*/
.redes-title {
	width: 100%;
	height: 15vh;
	background-color: rgb(26, 26, 26);
}

@media screen and (max-width: 800px) and (min-width: 361px){
	.redes-title {
	height: 10vh;
	}
}

.redes-header {
	color: white; 
	text-align: center; 
	padding-top: 40px;
}

@media screen and (max-width: 360px){
	.redes-header {
	padding-top: 25px;
	}
}

.redes-upper-container {
	width: 100%;
	height: 100vh;
	display: grid;
}

@media screen and (max-width: 800px) and (min-width: 361px){
.redes-upper-container {
	width: 100%;
	height: 100vh;
	display: initial;
	}
}
.redes {
	width: 100%;
	height: 85vh;
	background-color: #dd2820;
	background-image: url('../../assets/img/redes-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	max-height: 85vh;
	display: flex;
}

@media screen and (max-width: 800px) and (min-width: 361px){
.redes {
	height: 90vh;
	}
}
.section5-video{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.redes-video {
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 360px){
	.redes-video {
	width: auto;
	text-align: center;
	position: relative;
	top: -25%;
	}
}
@media screen and (max-width: 800px) and (min-width: 361px){
	.redes-video {
	width: auto;
	}
}
.redes-container {
	position: absolute;
	margin: auto;
	width: 100%;
    position: absolute;
    transform: translateY(12.5%);
}

.redes-icons {
	width: 70%; 
	margin: auto; 
	display: flex; 
	flex-wrap: wrap; 
	align-content: space-evenly;
	justify-content: center;
}
.redes-icons a {
	font-size: 165px;
	margin: 10px;
}

@media screen and (max-width: 360px){
	.redes-icons {
	display: none; 
	}
}

@media screen and (max-width: 800px) and (min-width: 361px){
	.redes-icons {
	display: none; 
	}
}

.redes-icons-smart {
	display: none;
}

@media screen and (max-width: 360px){
	.redes-icons-smart {
	width: 80%; 
	margin: auto; 
	display: flex; 
	flex-wrap: wrap; 
	align-content: space-evenly;
	justify-content: center;
	}
.redes-icons-smart a {
	font-size: 75px;
	margin: 8px;
	}
}

@media screen and (max-width: 800px) and (min-width: 361px){
.redes-icons-smart {
	width: 80%; 
	margin: auto; 
	display: flex; 
	flex-wrap: wrap; 
	align-content: space-evenly;
	justify-content: center;
	}
.redes-icons-smart a {
	font-size: 150px;
	margin: 18px;
	}
}

.fa {
  padding: 20px;
  font-size: 35px;
  width: 210px;
  text-align: center;
  text-decoration: none;
  margin: 15px 2px;
}

.fa:hover {
	background-color: white;
}

@media screen and (max-width: 360px){
	.fa {
  padding: 20px;
  width: 120px;
}

.fa:hover {
	background-color: white;
	}
}

.fa-facebook {
  background: rgb(36, 36, 36);
  color: white;
}

.fa-twitter {
  background: rgb(36, 36, 36);
  color: white;
}
.fa-linkedin {
  background: rgb(36, 36, 36);
  color: white;
}
.fa-instagram {
  background: rgb(36, 36, 36);
  color: white;
}

.fa-pinterest {
  background: rgb(36, 36, 36);
  color: white;
}
.fa-rss {
  background: rgb(36, 36, 36);
  color: white;
}
.fa-vine {
  background: rgb(36, 36, 36);
  color: white;
}
.fa-youtube {
  background: rgb(36, 36, 36);
  color: white;
}

/*SECTION 6*/
.section6 {
	width: 100%;
	height: 100vh;
}

@media screen and (max-width: 360px){
	.section6 {
	width: 100%;
	height: 190vh;
}
}

.section6-container{
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
}

@media screen and (max-width: 360px) {
.section6-container{
	width: 100%;
	height: 190vh;
	display: flex;
	flex-direction: column;
	}
}

.section6-contact-form{
	width: 60%;
	background-color: white;
	padding: 2rem;
	padding-bottom: 0px;
}
@media screen and (max-width: 360px){
	.section6-contact-form{
	width: 100%;
	padding: 1.5rem;
	padding-bottom: 0px;
	height: 100vh;
	}

	#h3-centered {
		text-align: center !important;
	}
}

.section6-newsletter {
	width: 40%;
}

@media screen and (max-width: 360px){
	.section6-newsletter {
	width: 100%;
	height: 90vh;
}
}

.newsletter-button {
	width: 100%;
	text-align: center;
}

.contact-button {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}


footer {
	background-color: #dd2820;
	width: 100%;
	height: 10vh;
}

footer > div {
	width: 100%;
	height: 100%;
	display: flex;
	text-align: center;
	align-content: center;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 360px){
	footer > div {
	padding: 30px;
  }
}

.footer-text {
	color: black; 
	font-variant: all-small-caps; 
	font-size: 1.1em;
	text-decoration: none;
}
.footer-text:hover {
	color: #FFFFFF;
}

@media screen and (max-width: 360px){
	.footer-text {
	font-size: 1.2em;

	}
.footer-text:hover {
	color: #FFFFFF;
	}
}

.footer-disclaimer {
	color: white; 
	transform: translateY(30%);

}

@media screen and (max-width: 360px){
	.footer-disclaimer {
	font-size: 14px;
	margin-bottom: 1.5rem;
	}
}